<html>
<head>
  <title>Mini Project #05</title></head>
<body>
<h2>My Quiz (Goverment and Politics)</h2>
<p>Let's take a quiz!</p>
<form action="/question" method="GET">
  <input type="submit" value="START">
</form>
</body>
</html>
