<% if result %>
<p>Correct!</p>
<img src="/YES.png" width="200" height="200" alt="CORRECT"/>
<% else %>
<p>Incorrect!</p>
<img src="/NO.png" width="200" height="200" alt="INCORRECT"/>
<% end %>

<br/><p><a href="/question">Next question!</a></p>